### Target Vendor/Product
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7620

### Target ProductID
CONFIG_FIRMWARE_PRODUCT_ID="YZ-100A"

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-3.4.x

############################################################
### Linux kernel configuration
############################################################

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=3.0

### Enable USB support (仅保留基础USB核心)
CONFIG_FIRMWARE_ENABLE_USB=y

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources. 仅保留中文
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y

### SSH核心（仅保留你需要的完整OpenSSH）
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### 仅保留最核心工具（按需可再删curl/mtr/nano）
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_NANO=y
CONFIG_FIRMWARE_INCLUDE_MTR=y
